PORT=3000
TEACHER_EMAIL=guru@sekolah.id
TEACHER_PASSWORD=guru123
TEACHER_NAME=Guru Pengampu
SESSION_SECRET=sistem-ulangan-ai-secret-2026
GEMINI_API_KEY=
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
DELAY_MIN=5
DELAY_MAX=13
